---
import '../styles/global.css'
const menu =
"fixed top-4 left-1/2 transform -translate-x-1/2 z-50 bg-white/90 py-3 px-10 inline-flex space-x-10 justify-center font-bold uppercase tracking-wide text-gray-600 shadow-lg rounded-full backdrop-blur-md"
---
<div class={menu}>
    <a href="/" class="hover:text-pink-600">Home</a>
    <a href="/works" class="hover:text-pink-600">Projects</a>
    <a href="/services" class="hover:text-pink-600">Services and Technologies</a>
    <a href="/contact" class="hover:text-pink-600">Contact</a>
</div>
